@page
@model pizza.Pages.collectionModel
@{
}
<h1>Our grate collection of pizzas!</h1>
<h3>choose one to try pizza builder! the order and Done!</h3>

<img src="~/image/image/Deluxe Dr.Pizza.png" />
<p><b>Create your owner pizza</b><br />
    make your owner pizza with pizza miter!</p><br />

<a class="btn btn-primary mt-2" asp-area="" asp-page="/forms/pizza_list">Try now</a>


