@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  
    <h1>Welcom to Dr.Pizza</h1>
    <h3>the most tasty pizza in town</h3>
    <img src="/image/image/unnamed.png" />
    <br />
    <a class="btn btn-primary mt-2" asp-page="collection">bring me the Dr.special</a>

</div>
