@page
@model pizza.Pages.cheakOut.comfromModel
@{
}

<div >
    <img src="/image/image/Pepperoni .png" /><br />

    <h3>Your<b> @Model.pizzaName </b>  pizzas is ready!</h3>
    <br />
    <p>If your pizza is ok..<br /> Click here</p>

    <a class="btn btn-primary mt-2" asp-page="Thank_You">comfrom</a>
</div>
